* {
	border: none;
	font-family: "BerkeleyMono Nerd Font";
	font-size: 12px;
	min-height: 0;
}

window#waybar {
	background-color: #1F1F28;
	color: #DCD7BA;
	border-radius: 5px;
}

#workspaces button {
	margin: 0.3em 0.3em;
	background-color: transparent;
	color: #DCD7BA;
	padding: 0 15px;
}

#workspaces button:hover {
	background: #54546D;
}

#workspaces button.active {
	background-color: #C8C093;
	color: #1F1F28;
}

#workspaces button.urgent {
	background-color: #E82424;
}

#custom-drawer,
#custom-pacman,
#cpu,
#memory,
#tray,
#pulseaudio,
#bluetooth,
#clock,
#network {
	background-color: transparent;
	color: #DCD7BA;
	margin: 5px 5px;
	border-radius: 5px;
	padding: 0 5px;
}

#custom-drawer {
	color: #FF5D62;
	margin-left: 10px;
}

#custom-pacman {
	color: #C34043;
}

#cpu {
	color: #FFA066;
}

#memory {
	color: #E6C384;
}

#pulseaudio {
	color: #98BB6C;
}

#bluetooth.off,
#bluetooth.disabled {
	color: #FF5D62;
}

#bluetooth.on,
#bluetooth.discoverable,
#bluetooth.discovering,
#bluetooth.pairable {
	color: #7FB4CA;
}

#bluetooth.connected {
	color: #98BB6C;
}

#network {
	color: #7E9CD8;
}

#clock {
	color: #957FB8;
	margin-right: 10px;
}
