* {
	border: none;
	font-family: "BerkeleyMono Nerd Font";
	font-size: 12px;
	min-height: 0;
}

window#waybar {
	background-color: #191724;
	color: #e0def4;
	border-radius: 5px;
}

#workspaces button {
	margin: 0.3em 0.3em;
	background-color: transparent;
	color: #e0def4;
	padding: 0 15px;
}

#workspaces button:hover {
	background: #908caa;
}

#workspaces button.active {
	background-color: #31748f;
}

#workspaces button.urgent {
	background-color: #eb6f92;
}

#custom-drawer,
#custom-pacman,
#cpu,
#memory,
#temperature,
#tray,
#pulseaudio,
#bluetooth,
#clock,
#network {
	background-color: transparent;
	color: #e0def4;
	margin: 5px 5px;
	border-radius: 5px;
	padding: 0 5px;
}

#custom-drawer {
	color: #0ccfd8;
	margin-left: 10px;
}

#custom-pacman {
	color: #eb6f92;
}

#cpu {
	color: #f6c177;
}

#memory {
	color: #ebbcba;
}

#temperature {
	color: #31748f;
}

#pulseaudio {
	color: #c4a7e7;
}

#bluetooth.off,
#bluetooth.disabled {
	color: #eb6f92;
}

#bluetooth.on,
#bluetooth.discoverable,
#bluetooth.discovering,
#bluetooth.pairable {
	color: #c4a7e7;
}

#bluetooth.connected {
	color: #31748f;
}

#clock {
	color: #0ccfd8;
	margin-right: 10px;
}

#network {
	color: #eb6f92;
}

@keyframes blink {
	to {
		background-color: #908caa;
		color: #191724;
	}
}

label:focus {
	background-color: #191724;
}
