* {
	border: none;
	font-family: "BerkeleyMono Nerd Font";
	font-size: 12px;
	min-height: 0;
}

window#waybar {
	background-color: #191724;
	color: #e0def4;
	border-radius: 5px;
}

#workspaces button {
	margin: 0.3em 0.3em;
	background-color: transparent;
	color: #e0def4;
	padding: 0 15px;
}

#workspaces button:hover {
	background: #908caa;
}

#workspaces button.active {
	background-color: #31748f;
}

#workspaces button.urgent {
	background-color: #eb6f92;
}

#clock,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray {
	background-color: transparent;
	color: #e0def4;
	margin: 0.3em 0.6em;
	border: 1px solid #31748f;
	border-radius: 5px;
	padding: 0 5px;
}

#clock {
	color: #eb6f92
}

#cpu {
	color: #f6c177
}

@keyframes blink {
	to {
		background-color: #908caa;
		color: #191724;
	}
}

label:focus {
	background-color: #191724;
}
