window {
	margin: 0px;
	background-color: #191724;
	color: #e0def4;
	font-family: 'BerkeleyMono Nerd Font';
	font-size: 14px;
}

#input {
	margin: 10px;
	border: none;
	border-radius: 10px;
	color: #e0def4;
	background-color: #26233a;
}

#inner-box {
	margin: 10px;
	background-color: #26233a;
	color: #191724;
	overflow: hidden;
}

#outer-box {
	margin: 15px;
	background-color: #191724;
}

#text {
	margin: 5px;
	color: #e0def4;
}

#entry:selected {
	background-color: #31748f;
	color: #e0def4;
}

#entry:selected * {
	background-color: #31748f;
	color: #e0def4;
}
